<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208574102421-173s1rl0auqfbmguj9a716aiceifc24p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208574102421-173s1rl0auqfbmguj9a716aiceifc24p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>208574102421-mobabp8seckc0u7s4559kqc0g83e47ut.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ylF5BxYsg8uPAUpZyEYLz9NAgSUwpoY</string>
	<key>GCM_SENDER_ID</key>
	<string>208574102421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.tobiano</string>
	<key>PROJECT_ID</key>
	<string>tobiano-3bd53</string>
	<key>STORAGE_BUCKET</key>
	<string>tobiano-3bd53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208574102421:ios:57a89c9a6a215ec427d49c</string>
	<key>DATABASE_URL</key>
	<string>https://tobiano-3bd53-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>